/*CSS for the second page the user will see*/

/*DEFAULTS*/
body {
	background: #f6f6f6;
	font-family: Arial;
}


.courses-lists, .schedule-container{
	width: 50%;
}
#main{
	padding-top: 15px;
}
.schedule-title{
	margin-bottom: 5px;
}
