/*CSS for the schedule*/

.schedule, .schedule th, .schedule td {
    border: 1px solid black;
    border-collapse: collapse;
}
.schedule td{
	font-size: 16px;
	height: 26.5px;
	padding-left: 3px;
	width: 150px;
}
.schedule th{
	font-size: 15px;
	padding: 10px 5px;
}
