/*CSS for the schedule*/

.description-cell{
	font-size: 15px;
	font-weight: bold;
}
.divTable{
    /*display: table;*/
    width: 90%;
}
.divTableCell {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 0 3px 10px;
    width: 150px;
}
.divTableRow {
    display: table-row;
}
