table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td{
	padding-left: 3px;
	width: 150px;
	font-size: 16px;
}
th{
	padding: 10px 5px;
	font-size: 15px;
}

body {
	background: #f6f6f6;
	font-family: Arial;
}


/*INITIAL CONTENT TO DISPLAY*/
#initial-content {
	width: 75%;
}
.intro {
	margin: 15% 0px 4% 0px;
}
.intro h1 {
	color: #4e4540;
	font-size: 52px;
}
.intro h4 {
	color: #333;
	font-size: 20px;
	margin-top: 16px;
}
.intro p {
	margin-top: 15px;
}
.search-options button {
	border-radius: 0;
	vertical-align: top;
	margin-left: -4.5px;
}
.search-options select {
	border: 1px solid #ccc;
	border-radius: 0;
	display: inline;
	width: 90%;
}


/*NAVBAR*/
.logo {
	float: left;
}
.navbar {
	background: #b30738;
	border-bottom: 1px solid black;
	padding-bottom: 0;
	padding-top: 0;
}
.navbar-brand {
	padding-left: 12px;
	padding-bottom: 0px;
}
.text {
	color: #eee;
	float: right;
	margin-top: 2px;
	padding-left: 5px;
}
.text p{
	color: #eee;
	margin: 0;
}
.text small {
	font-size: 10px;
	display: block;
	margin-bottom: -5px;
}

.basha{
	width: 50%;
}
.first{
	/*background: red;*/
	/*width: 30%;*/
}
.second{
	/*background: blue;*/
	/*width: 70%;*/
	float: right;
}

/*course-list*/
.course{
	background: #f0d0b4;
	padding: .15em .45em;
}
.course-info .badge {
	font-size: 70%;
}
.course-info .badge, .course-info small{
	margin-bottom: 3px;
	margin-right: 5px;
}
.course-info small {
	color: #363636;
	font-size: 73%;
}
.course-title{
	color: black;
	font-size: 15px;
	margin-bottom: 0;
}
.courses{
	display: inline-block;
	height: 400px;
	overflow-y: scroll;
}
.courses-list{
	display: inline-block;
	/*margin-right: 50px;*/
	width: 230px;
	float: left;: right;
}
.courses::-webkit-scrollbar {
    width: 6px;
}
/* Track */
.courses::-webkit-scrollbar-track {
    background: #696969;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}
/* Handle */
.courses::-webkit-scrollbar-thumb {    
    background: #edeff2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.courses::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
.select-major{
	border: 1px solid #ccc;
	border-radius: 0;
	margin-bottom: 15px;
}